*{
    margin: 0%;
    padding: 0%;
    font-family:'poppins', sans-serif;
}

body {
overflow-x: hidden;}

.Header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(./images/A-Block-Administrative-block.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

#Logo{
    height: 15vh;
    width: auto;

}

.Signup{
    min-height: 100vh;
    width: 100%;
    /* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 5%;
}

.Textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 5px;
    margin: 2px;

}

.Textbox h1{
    font-size: 62px;
}

.Textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px #fff;
    background: #f60808;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

.Header .Navlinks{
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin: 0px;
    /* flex: 1; */
    text-align: right;
}

.Header .Navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.Header .Navlinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.Header .Navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.8s;
}

.Header .Navlinks ul li:hover::after{
    width: 100%;
}

#img1{
    float: right;
    height: 20vh;
    width: auto;
}

#Art1{
    height: 30vh;
    width: auto;
    overflow: hidden;
    padding: 3%;
    margin: auto;

}

#Art2{
    height: 30vh;
    width: auto;
    overflow: hidden;
    padding: 3%;
    margin: auto;

}

#Art3{
    height: 30vh;
    width: auto;
    overflow: hidden;
    padding: 3%;
    margin: auto;

}

#Final{
    height: 60vh;
    width: 100%;
    /* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 10%;

}

#Final h1{
    font-size: 400%;

    
}

#Final p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #000000;
}

.Art1 h2{
    font-size: 200%;
    padding: auto;
    text-align: center;
}

.Art1 p{
    text-align: center;
}

.button{
    background-color: #0c0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 20px -8px teal;
}
